.whatsapp-btn{
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 50px;
    background-color: green;
    right: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.telegram-btn{
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 120px;
    background-color: rgb(36, 159, 207);
    right: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}